html {
  box-sizing: border-box;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.-hide {
  display: none;
}

.off-screen {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  user-select: none;
  width: 1px;
}

.no-scroll {
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.tk-fade {
  transition: opacity $ease-med;
  transition-delay: 500ms;
  opacity: 0;

  .wf-active & {
    opacity: 1;
  }
}

.no-wrap {
  white-space: nowrap;
}

.-rel {
  position: relative;
}

/* IE9  - Also picked up by most modern browsers */
::selection {
  background: rgba($tmp-brand, 0.75);
  color: $tmp-dark;
  text-shadow: none;
}
/* Safari & Chrome - Webkit Rendering */
::-webkit-selection {
  background: rgba($tmp-brand, 0.75);
  color: $tmp-dark;
  text-shadow: none;
}
/* Mozilla based - Gecko Rendering */
::-moz-selection {
  background: rgba($tmp-brand, 0.75);
  color: $tmp-dark;
  text-shadow: none;
}
