// scss-lint:disable VendorPrefix
@mixin vertical-align($amt: 50%) {
  position: relative;
  top: $amt;
  transform: translateY(-$amt);
}

@mixin vertical-reset {
  position: relative;
  top: auto;
  transform: none;
}
// scss-lint:enable VendorPrefix

@mixin line {
  display: inline-block;
  width: $navi-size;
  height: $navi-size / 9;
  background: $tmp-gray;
  border-radius: $navi-size / 14;
  transition: $navi-transition;
}

// breakpoints
@mixin bp($breaker, $feature: max-width) {
  @media only screen and (#{$feature}: $breaker) { @content; }
}

@mixin content-wrapper($bg: $tmp-light) {
  position: relative;
  padding: 0 rem(120);
  overflow: hidden;
  background-color: #{$bg};
  z-index: 1;

  @include bp($lg) {
    padding: 0 rem(80);
  }

  @include bp($sm) {
    padding: 0;
  }
}

@mixin content-inner($width: 1280px, $justify: space-between) {
  max-width: #{$width}px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: #{$justify};
}
