body {
  @include font-feature-settings("kern", "liga", "pnum");
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0;

  &.page-title {
    color: darken($tmp-gray, 10%);
  }
}

%title-xl {
  font-family: $sans;
  font-size: rem(48);
  line-height: rem(60);
  font-weight: 600;

  @include bp($xl) {
    font-size: rem(36);
    line-height: rem(48);
  }

  @include bp($lg) {
    font-size: rem(30);
    line-height: rem(40);
  }
}

%title-lg {
  font-family: $sans;
  font-size: rem(36);
  line-height: rem(48);
  font-weight: 600;

  @include bp($lg) {
    font-size: rem(30);
    line-height: rem(36);
  }

  @include bp($sm) {
    font-size: rem(24);
    line-height: rem(30);
  }
}

%title-md {
  font-family: $sans;
  font-size: rem(24);
  line-height: rem(30);
  font-weight: 600;

  @include bp($lg) {
    font-size: rem(21);
    line-height: rem(28);
  }

  @include bp($sm) {
    font-size: rem(18);
    line-height: rem(24);
  }
}

%title-sm {
  font-family: $sans;
  font-size: rem(18);
  line-height: rem(24);
  font-weight: 600;

  @include bp($sm) {
    font-size: rem(16);
    line-height: rem(21);
  }
}

%title-serif-lg {
  font-family: $serif;
  font-size: rem(36);
  font-weight: 400;
  line-height: rem(42);
  font-style: italic;

  @include bp($sm) {
    font-size: rem(24);
    line-height: rem(30);
  }
}

%title-serif-md {
  font-family: $serif;
  font-size: rem(24);
  font-weight: 400;
  line-height: rem(30);
  font-style: italic;

  @include bp($sm) {
    font-size: rem(18);
    line-height: rem(24);
  }
}

%title-serif-sm {
  font-family: $serif;
  font-size: rem(18);
  font-weight: 400;
  line-height: rem(24);
  font-style: italic;

  @include bp($sm) {
    font-size: rem(16);
    line-height: rem(21);
  }
}

// h1,
// h2 {
//   @extend %title-lg;
// }

h3 {
  font-size: rem(16);
  line-height: rem(21);
  font-style: italic;
  font-weight: 400;
}

h4 {
  font-size: rem(16);
  line-height: rem(21);
  font-weight: 600;
  font-family: $sans;
}

h5 {
  font-size: rem(21);
  line-height: rem(24);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;

  @include bp($sm) {
    font-size: rem(18);
    line-height: rem(21);
  }
}

p {
  @extend %text-lg;

  &.caption {
    font-size: rem(14);
    line-height: rem(18);
    font-family: $sans;
    font-weight: 300;
  }
}

%text-lg {
  font-size: rem(18);
  line-height: 1.6;
  margin: 0 0 $small-spacing;

  @include bp($lg) {
    font-size: rem(16);
  }
}

%text-sm {
  font-size: rem(16);
  line-height: 1.6;
  margin: 0 0 $small-spacing;

  @include bp($lg) {
    font-size: rem(14);
  }
}

%text-xs {
  font-size: rem(14);
  line-height: 1.6;
  margin: 0 0 $small-spacing;
}

%tagline {
  font-family: $sans;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(18);
  margin: 0;

  @include bp($md) {
    font-size: rem(11);
    line-height: rem(14);
  }
}

%nav-primary {
  color: $tmp-light;
  font-family: $sans;
  font-size: rem(36);
  font-weight: 800;
  line-height: 1;

  @include bp($sm) {
    font-size: rem(24);
  }
}

%nav-secondary {
  color: $tmp-gray;
  font-family: $sans;
  font-size: rem(21);
  font-weight: 800;
  line-height: 1;

  @include bp($sm) {
    font-size: rem(16);
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;
  font-weight: 600;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 10%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

blockquote {
  font-size: rem(48);
  line-height: rem(60);
  font-style: italic;
  font-weight: 600;
  color: $tmp-gray;
  text-align: center;
  margin: 0;
  padding: 0;

  @include bp($md) {
    font-size: rem(36);
    line-height: rem(48);
  }

  @include bp($sm) {
    font-size: rem(30);
    line-height: rem(42);
  }
}

.cite {
  font-size: rem(24);
  line-height: rem(30);
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $large-spacing 0 0;
}

// img,
// picture {
//   margin: 0;
//   max-width: 100%;
// }

.builder {
  h1 {
    font-size: rem(36);
    line-height: rem(48);
    font-style: italic;
    font-weight: 600;
  }

  h2 {
    font-size: rem(28);
    line-height: rem(34);
    font-style: italic;
    text-transform: none;
    font-weight: 600;
  }

  h3 {
    font-size: rem(24);
    line-height: rem(30);
    font-style: italic;
    font-weight: 600;
  }

  h4 {
    font-size: rem(18);
    line-height: rem(24);
    font-family: $serif;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: $base-spacing;
  }

  p a {
    font-style: italic;

    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}
