{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7",
            "firefox >= 46",
            "ie >= 11"
          ]
        }
      }
    ]
  ],
  "sourceMaps": true
}
