body {
  background-color: $tmp-light;
}

.main {
    margin-top: rem(40);
    @include bp($md) {
        margin-top: 0;
    }
}

.content {
  min-height: 100vh;
}

.adthrive-ad {
    margin-left: auto;
    margin-right: auto;
}