@media print {

  body {
    background-color: $white;
  }

  body.print-styles {

    .aside-column,
    .site-header,
    .footer,
    .mobile-nav,
    .post__title,
    .post__share,
    .post__image--wrapper,
    .builder--photos,
    .builder--text,
    .builder--callout,
    .more-posts,
    .sticky-wrapper,
    .recipe__download,
    .instructions {
      display: none;
    }

    * {
      font-size: 13px;
      line-height: 1.2;
      color: $tmp-dark !important;
    }

    h1 {
      font-size: 21px;
    }

    h2 {
      font-size: 21px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
    }

    .post {
      margin: 0;

      &__title {
        @include full;
        padding: 0 0 $base-spacing;
        margin: 0;

        &--text {
          @include full;
        }
      }

      .builder__section {

        &--ingredients {
          @include full;
        }

        &.top-double,
        &.bot-double {
          padding: 0;
        }

      }

      .ingredients-list {
        @include full;

        .row {
          border-bottom: 1px solid $tmp-gray;

          td {
            padding: 5px 10px;
          }

          .amount {
            width: 15%;
            border-right: 1px solid $tmp-gray;
          }
        }
      }
    }
  }
}