@media print {
  body {
    background-color: $white;
  }

  body.print-styles {
    .author,
    .builder,
    .disqus,
    .fix-share,
    .footer,
    .header__hamburger--wrapper,
    .header__search--wrapper,
    .mobile-nav,
    .more-posts,
    .post__image--wrapper,
    .post__title,
    .post__share,
    .post-intro,
    .recipe__download,
    .site-header,
    .sticky-wrapper {
      display: none;
    }

    * {
      font-size: 13px;
      line-height: 1.2;
      color: $tmp-dark !important;
    }

    h1 {
      font-size: 21px;
    }

    h2 {
      font-size: 21px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
    }

    .header__logo-wrapper {
      padding: rem(36) 0 0;
    }

    .header__logo {
      width: rem(280);
      height: rem(24);
    }

    .post-entry {
      background-color: transparent;
    }

    .recipe-builder {
      .recipe-title {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
      }

      .servings {
        text-align: center;
      }
    }

    .post {
      margin: 0 auto;
      width: 100%;

      .ingredients-list {
        .row {
          border-bottom: 1px solid $tmp-gray;

          td {
            padding: 5px 10px;
          }

          .amount {
            width: 15%;
            border-right: 1px solid $tmp-gray;
          }
        }
      }
    }
  }
}
