<div class="search js-search">
  <span class="search__tooltip">Type anywhere to search</span>
  <span class="search__indicator js-searching">Coming right up...</span>
  <div class="search__inner">
    <span class="search__title">Search</span>
    <form class="search__form js-search-form" action="{{ url('search/results') }}">
      <input id="js-search" class="search__form--input js-search-input" autocomplete="off" type="search" name="q" placeholder="What sounds good?" aria-label="Search">
      <input class="search__form--submit js-search-submit" type="submit" value="Click enter to search" aria-label="Submit Search Query">
    </form>
    <span class="search__title">View Recipes by Category</span>
    {% include 'partials/search/_categories' %}
  </div>
  <div class="search__close js-search-close">
    {% include 'utils/icon' with {'icon':'close', 'classes':'search__close--icon'} %}
  </div>
</div>