{% set image = homeTmp.homeTmpImage[0] %}
{% set aboutImage = craft.imager.transformImage(image,
        [
            { width: 900, ratio: 3 / 4 },
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
<article class="about-card js-scrolls animate -fade-up" data-offset="0.9">
  <div class="about-card__image" nopin="nopin" style="background-image:url('{{aboutImage[0]}}')"></div>
  <div class="about-card__text">
    <h3 class="about-card__text--title js-avoid-orphan">{{homeTmp.homeTmpTitle|raw}}</h3>
    <p class="about-card__text--body">{{homeTmp.homeTmpBlurb}}</p>
  </div>
  <a href="/about" class="about-card__cta btn pop">About us</a>
</article>
