<section class="featured js-scrolls animate -fade-up" data-offset="0.85">
  <div class="featured__bg"></div>
  <div class="featured__text">
    <h3 class="featured__text--title">{{ featuredPosts.sectionTitle }}</h3>
    {% if featuredPosts.sectionSubtitle|length %}
      <p class="featured__text--subtitle">{{ featuredPosts.sectionSubtitle }}</p>
    {% endif %}
  </div>
  {% for post in featuredPosts.featuredPosts %}
    {% set image = post.featuredImage[0] %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 500, ratio: 1 / 1 }
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
    <a href="{{ post.url }}" class="featured__post">
      <div class="featured__image lazyload" data-bg="{{transformedImages[0]}}" title="{{ post.title }}"></div>
    </a>
  {% endfor %}
</section>
