<div class="home-feature js-home-feature">
  <a href="{{url}}" class="home-feature__image js-feature-image">
    {% set vars = {
      'image': image,
      'classes': 'home-feature__asset',
      'title': post.title,
    }%}
    {% include 'utils/images/home-feature-pic' with vars %}
  </a>
  <div class="home-feature__text">
    <div class="home-feature__title js-feature-title -fixed">
      <span class="home-feature__title--date">{{post.postDate|date("F j, Y")}}</span>
      <a href="{{post.url}}"><h2 class="home-feature__title--headline">{{post.title}}</h2></a>
    </div>
    <p class="home-feature__text--summary js-avoid-orphan">{{post.postSummary}}</p>
    <a href="{{post.url}}" class="home-feature__text--cta btn pop">Read post</a>
  </div>
</div>
