{% set tall = image.height > image.width %}
    
{% if tall %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 667, ratio: image.width / image.height },
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
    {% set transformedImagesWebP = craft.imager.transformImage(image,
        [
            { width: 667, ratio: image.width / image.height },
        ],
        {
            format: 'webp',
            position: image.focalPoint
        }
    ) %}
{% else %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 1000, ratio: 667 / 1000 },
        ],
        {
            format: 'jpg',
            position: image.focalPoint,
        }
    ) %}
    {% set transformedImagesWebP = craft.imager.transformImage(image,
        [
            { width: 1000, ratio: 667 / 1000 },
        ],
        {
            format: 'webp',
            position: image.focalPoint,
        }
    ) %}
{% endif %}
<div class="home-feature">
  {% if craft.imager.serverSupportsWebp() %}
    <a href="{{url}}" class="home-feature__image lazyload" data-bg="{{transformedImagesWebP[0].url}}"></a>
  {% else %}
    <a href="{{url}}" class="home-feature__image lazyload" data-bg="{{transformedImages[0].url}}"></a>
  {% endif %}
  <div class="home-feature__text">
    <span class="home-feature__text--date">{{post.postDate|date("F j, Y")}}</span>
    <a href="{{post.url}}"><h2 class="home-feature__text--title js-avoid-orphan">{{post.title}}</h2></a>
    <p class="home-feature__text--summary js-avoid-orphan">{{post.postSummary}}</p>
    <a href="{{post.url}}" class="home-feature__text--cta btn pop">Read post</a>
  </div>
</div>
