
<div class="post-card {% if homePage %}first-loop{% endif %} {% if index > 6 %}after-featured{% endif %} js-scrolls animate -fade-up" data-offset="0.92">
  <a href="{{url}}" class="post-card__image">
    {% set vars = {
      'image': image,
      'classes': 'post-card__asset',
      'title': title,
    }%}
    {% include 'utils/images/post-card-pic' with vars %}
    <div class="post-card__image--border"></div>
    <span class="post-card__image--cta">Read post</span>
  </a>
  <div class="post-card__text">
    <a href="{{url}}">
      <h2 class="post-card__title js-avoid-orphan">{{title}}</h2>
    </a>
    <p class="post-card__summary js-avoid-orphan">{{summary}}</p>
    <a href="{{url}}" class="post-card__read-post">Read Post</a>
  </div>
</div>
