{% set tall = image.height > image.width %}
    
{% if tall %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 667, ratio: image.width / image.height },
            { width: 400, ratio: image.width / image.height },
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
{% else %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 1000, ratio: 667 / 1000 },
            { width: 600, ratio: 667 / 1000 },
        ],
        {
            format: 'jpg',
            position: image.focalPoint,
        }
    ) %}
{% endif %}
<div class="post-card {% if homePage %}first-loop{% endif %} {% if index > 6 %}after-featured{% endif %} js-scrolls animate -fade-up" data-offset="0.9">
  <a href="{{url}}" class="post-card__image lazyload" data-bg="{{ transformedImages[0].url }}">
    <div class="post-card__image--border"></div>
    <span class="post-card__image--cta">Read post</span>
  </a>
  <div class="post-card__text">
    <a href="{{url}}">
      <h2 class="post-card__title js-avoid-orphan">{{title}}</h2>
    </a>
    <p class="post-card__summary js-avoid-orphan">{{summary}}</p>
  </div>
</div>
