.about {
  @include content-wrapper();

  &__intro {
    @include content-inner(900);
    padding: rem(40) 0;
    position: relative;

    @include bp($md) {
      padding: rem(40) 0 0;
    }

    &--headline {
      @extend %title-lg;
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 rem(12);

      @include bp($sm) {
        padding: 0 rem(30);
      }
    }

    &--subhead {
      @extend %title-serif-sm;
      flex: 0 0 100%;
      text-align: center;
      margin: 0 0 rem(40);

      @include bp($sm) {
        padding: 0 rem(30);
      }
    }

    &--img-wrapper {
      flex: 0 0 100%;
      margin: 0 0 rem(40);
    }

    &--image {
      height: auto;
      width: 100%;
    }
  }

  &__intro-quote {
    @extend %text-sm;
    flex: 0 0 33%;
    padding-right: 30px;

    @include bp($md) {
      flex: 0 0 100%;
      padding: 0 rem(50);
    }

    &--quote {
      font-style: italic;
      margin-bottom: rem(12);
    }

    &--author {
      font-weight: 800;
      font-style: italic;

      @include bp($md) {
        display: block;
        margin-bottom: rem(24);
      }
    }
  }

  &__intro-body {
    @extend %text-lg;
    flex: 0 0 66%;

    @include bp($md) {
      flex: 0 0 100%;
      padding: 0 rem(50);
    }
  }
}
