.archive {
  @include content-wrapper();

  &__wrapper {
    @include content-inner(1280);

    @include bp($sm) {
      padding: 0 rem(36);
    }

    @include bp($xs) {
      padding: 0 rem(24);
    }
  }

  &__title {
    @extend %title-md;
    flex: 0 0 100%;
    color: $tmp-gray;
    margin-bottom: rem(60);
    text-align: center;

    @include bp($md) {
      margin: rem(30) 0;
    }

    .message {
      @extend %title-serif-md;
    }
  }

  &__list {
    @include content-inner();
    justify-content: flex-start;

    @include bp($sm) {
      padding: 0 rem(6);
    }
  }

  &__list-item {
    flex: 0 0 16.666%;
    padding: 0 rem(12);
    margin-bottom: rem(24);

    @include bp($lg) {
      flex: 0 0 20%;
      padding: 0 rem(6);
    }

    @include bp($md) {
      flex: 0 0 33.333%;
    }

    @include bp($sm) {
      flex: 0 0 50%;
    }

    &--link {
      color: $tmp-dark;
      transition: color $ease-fast;

      &:hover,
      &:focus {
        color: $tmp-brand;
      }
    }

    &--img-wrapper {
      position: relative;
      background-color: rgba($tmp-gray, 0.1);

      &::after {
        content: "";
        display: block;
        padding-bottom: (1000 / 667) * 100%;
      }
    }

    &--picture {
      @include lazy-photo;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }

    &--date {
      @extend %title-serif-xs;
      color: $tmp-gray;
      font-style: italic;
      margin: rem(12) 0 rem(6);

      @include bp($sm) {
        font-size: rem(12);
      }
    }

    &--title {
      @extend %title-xs;

      @include bp($md) {
        font-size: rem(14);
      }
    }
  }
}
