.error {
  @include content-wrapper();
  padding-bottom: rem(80);

  &__inner {
    @include content-inner(480);
    padding: rem(40) 0 rem(80);
    text-align: center;
  }

  &__headline {
    @extend %title-lg;
    flex: 0 0 100%;
    margin-bottom: rem(24);
  }

  &__body {
    @extend %text-lg;
  }
}
