.error {
  @include content-wrapper();
  padding-bottom: rem(80);

  &__inner {
    @include content-inner(480);
    padding: rem(40) 0 rem(80);
    text-align: center;
  }

  &__headline {
    @extend %title-lg;
    flex: 0 0 100%;
    margin-bottom: rem(24);
  }

  &__body {
    @extend %text-lg;
  }
  // @include span(4);
  // @include push(4);
  // text-align: center;
  // padding: ($large-spacing + $base-spacing) 0 0;

  // @include breakpoint($vp4) {
  //   @include span(6);
  //   @include push(3);
  // }

  // @include breakpoint($vp3) {
  //   @include span(8);
  //   @include push(2);
  // }

  // @include breakpoint($vp2) {
  //   @include span(10);
  //   @include push(1);
  // }
}
