.home-posts {
  @include content-wrapper();
  margin-bottom: rem(170);
  box-shadow: 0 rem(3) rem(5) rgba($tmp-dark, 0.3);

  @include bp($md) {
    margin-bottom: rem(150);
  }
}

.post-wrapper {
  @extend %content-inner-wrapper
}