.results {
  padding: 0 rem(110);
  overflow-x: hidden;

  @include breakpoint($vp2) {
    padding: 0 rem(12);
  }

  &__wrapper {
    max-width: rem(1280);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
  }

  &__header {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: rem(24);
  }

  &__title {
    @extend %title-serif-lg;
    color: $tmp-gray;
    margin-bottom: rem(40);
  }

  &__error {
    @extend %text-lg;
    max-width: rem(480);
    margin: 0 auto;
  }
}
