.results {
  @include content-wrapper;

  @include bp($sm) {
    padding: 0 rem(12);
  }

  @include bp($sm) {
    padding: 0 rem(6);
  }

  &__wrapper {
    @include content-inner(1280, flex-start);
    padding-bottom: rem(60);
    margin: 0 auto;
    align-items: stretch;

    @include bp($sm) {
      padding: 0 rem(36) rem(48);
    }

    @include bp($xs) {
      padding: 0 rem(24) rem(36);
    }
  }

  &__header {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: rem(24);
  }

  &__title {
    @extend %title-serif-lg;
    color: $tmp-gray;
    margin-bottom: rem(40);

    @include bp($sm) {
      margin: rem(36) 0 rem(16);
    }
  }

  &__error {
    @extend %text-lg;
    max-width: rem(480);
    margin: 0 auto;
  }
}
