<section class="about__intro">
  {% for intro in entry.aboutIntro %}
    <h1 class="about__intro--headline">{{ intro.headline }}</h1>
    <h2 class="about__intro--subhead">{{ intro.subhead }}</h2>
    {% set image = intro.image[0] %}
    {% set vars = {
      'image': image,
      'picClasses': 'about__intro--img-wrapper',
      'classes': 'about__intro--image',
      'title': image.title,
      'nopin': true
    }%}
    {% include 'utils/images/about-intro-pic' with vars %}
  {% endfor %}
  <div class="about__intro-quote">
    {% for quote in entry.aboutQuote %}
      <div class="about__intro-quote--quote">&ldquo;{{ quote.quote }}&rdquo;</div>
      <span class="about__intro-quote--author">~{{ quote.author }}</span>
    {% endfor %}
  </div>
  <div class="about__intro-body">
    {{ entry.aboutBody }}
  </div>
</section>