<section class="staff">
    <h2 class="staff__headline">{{ entry.staffHeadline }}</h2>
    <ul class="staff__bios">
      {% for bio in entry.staffBios %}
        <li class="staff__bios--bio-wrapper">
          {% set vars = {
            'image': bio.photo[0],
            'classes': 'staff__bios--bio-photo',
            'title': bio.fullName,
            'nopin': true
          }%}
          {% include 'utils/images/staff-photo-pic' with vars %}
          <h3 class="staff__bios--bio-name">{{ bio.fullName }}</h3>
          <p class="staff__bios--bio-text">{{ bio.bio }}</p>
        </li>
      {% endfor %}
    </ul>
  </section>