{% set photoBlock = block.imageFiles %}
{% if photoBlock|length == 1 and photoBlock[0].height >= photoBlock[0].width %}
  {% set singleVert = true %}
{% endif %}
<div class="builder__section -wide-mobile top-{{ block.paddingTop}} bot-{{ block.paddingBottom}} js-scrolls animate -fade-in" data-offset="0.95">
  <div class="builder__photos {% if singleVert is defined and true %}slim{% else %}{{ block.photoWidth }}{% endif %}">
    {% for photo in block.imageFiles %}
      {% if photo.height > photo.width %}
        {% set ratio = 'vertical' %}
      {% else %}
        {% set ratio = 'horizontal' %}
      {% endif %}
      {% set gallery = block.imageFiles|length %}
      <div class="image-wrapper {% if gallery >= 2 %}gallery{% endif %} {% if block.mobileStack.contains('stack') %}m-stack{% endif %}" data-ratio="{{ratio}}">
        {% set vars = {
          'image': photo,
          'classes': 'image',
          'title': entry.title
        }%}
        {% include 'utils/images/post-entry-pic' with vars %}
      </div>
    {% endfor %}
  </div>
</div>