<section class="partner-contact">
  <div class="partner-contact__inner-wrapper">
    <h1 class="partner-contact__headline">Partnership</h1>
    <div class="partner-contact__body">
      <p>We love to partner with brands and products that we believe in. If you feel that your company shares our values and would benefit our readers, we would love to talk about working together.</p>
    </div>
    <div class="partner-contact__cta">
      <a href="/contact" class="btn pop">Let's talk</a>
    </div>
  </div>
</section>