<div class="more-posts-card js-scrolls animate -fade-in" data-offset="0.85">
  <a href="{{url}}" class="more-posts-card__image lazyload">
    {% set vars = {
      'image': image,
      'classes': 'more-posts-card__asset',
      'title': title,
    }%}
    {% include 'utils/images/post-card-pic' with vars %}
    <div class="more-posts-card__image--border"></div>
    <span class="more-posts-card__image--cta">Read post</span>
  </a>
  <div class="more-posts-card__text">
    <a href="{{url}}">
      <h2 class="more-posts-card__title">{{title}}</h2>
    </a>
  </div>
</div>
