<div id="recipe" class="builder js-scroll-target-recipe">
  <div class="builder__section">
    <div class="builder__recipe">
      {% if entry.recipeTitle|length %}
        <h3 class="recipe-title">{{ entry.recipeTitle }}</h3>
      {% else %}
        <h3 class="recipe-title">{{ entry.title }}</h3>
      {% endif %}

      {% if entry.recipeServings > 0 %}
        <p class="servings" itemprop="recipeYield">Serves {{ entry.recipeServings }}</p>
      {% endif %}

      {% for block in entry.recipeBuilder %}

        {% if block.listTitle|length %}
          <h3 class="ingredients-title">{{ block.listTitle }}</h3>
        {% else %}
          <h3 class="ingredients-title">Ingredients</h3>
        {% endif %}
      
        <table class="ingredients-list" style="width:100%">
        {% for ingredient in block.list %}
          <tr class="row">
            <td class="amount">{{ ingredient.amount }}</td>
            {% if ingredient.linkUrl|length %}
              <td class="ingredient"><a href="{{ ingredient.linkUrl }}" target="_blank">{{ ingredient.ingredient }}</a></td>
            {% else %}
              <td class="ingredient">{{ ingredient.ingredient }}</td>
            {% endif %}
          </tr>
        {% endfor %}
        </table>

      {% endfor %}

      {% if entry.recipeMethod|length %}
      
        <h3>Method</h3>
        <div class="method" itemprop="recipeInstructions">
          {{ entry.recipeMethod }}
        </div>
      {% endif %}

      <div class="recipe__download">
        <a href="#" target="_blank" class="js-print-recipe"><div class="recipe__download--button btn pop small">Print Recipe</div></a>
      </div>
    </div>
  </div>
</div>

{% block richPinIngredients %}
  {% for block in entry.recipeBuilder %}
    {% for item in block.list %}
      <meta itemprop="ingredients" content="{{ item.amount }} {{ item.ingredient }}" />
    {% endfor %}
  {% endfor %}
{% endblock %}