{% set pinterestLink = 'http://pinterest.com/pin/create/button/?url=' ~ entry.url ~ '&amp;media=' ~ siteUrl ~ entry.featuredImage.first.url ~ '&amp;description=' ~ entry.title %}

<div class="share">
    <hr class="share__title--line">
    <h3 class="share__title">Share</h3>
    <a href="{{'https://twitter.com/share?text=' ~ entry.title ~ ' from @themodernproper:&' ~ entry.url }}" class="share__icon" target="_blank">
        <span class="icon-logo twitter"></span>
    </a>
    <a data-href="{{ entry.url }}" class="share__icon fb-share-button" data-layout="button_count">
        <span class="icon-logo facebook"></span>
    </a>
</div>
