<IfModule mod_rewrite.c>
  RewriteEngine On

  #301 Specific Posts
  RewriteRule ^posts\/$ https:\/\/themodernproper\.com [L,R=301]
  RewriteRule ^posts$ https:\/\/themodernproper\.com [L,R=301]
  RewriteRule ^posts\/potatoes-bravas-with-chorizo-fried-eggs-and-garlic-aioli https://themodernproper.com/posts/patatas-bravas [L,R=301]
  RewriteRule ^posts\/fasolakia-braised-green-beans https://themodernproper.com/posts/fasolakia [L,R=301]
  RewriteRule ^posts\/chimichurri-marinated-shrimp-over-creamy-polenta https://themodernproper.com/posts/chimichurri-shrimp-with-creamy-polenta [L,R=301]
  RewriteRule ^posts\/one-pot-chicken-and-stuffing https://themodernproper.com/posts/one-pot-chicken-stuffing-casserole [L,R=301]

  #301 Redirects
  RewriteRule ^post\/(\d+)\/(.*)$ https:\/\/themodernproper\.com [L,R=301]
  RewriteRule ^page\/(.*)$ https:\/\/themodernproper\.com [L,R=301]
  RewriteRule ^tagged\/(.*)$ https:\/\/themodernproper\.com [L,R=301]

  # Send would-be 404 requests to Craft
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/(favicon\.ico|apple-touch-icon.*\.png)$ [NC]
  RewriteRule (.+) index.php?p=$1 [QSA,L]
</IfModule>