<script>
    window.adthrive = window.adthrive || {};
    window.adthrive.cmd = window.adthrive.cmd || [];
    window.adthrive.host = 'ads.adthrive.com';
    window.adthrive.plugin = 'adthrive-ads-1.0.31-manual';
    window.adthrive.threshold = Math.floor(Math.random() * 100 + 1);

    (function() {
        var script = document.createElement('script');
        script.async = true;
        script.type = 'text/javascript';
        script.src = document.location.protocol + '//ads.adthrive.com/sites/5bc9ea708e337669d035c9c3/ads.min.js?threshold=' + window.adthrive.threshold;
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(script, node);
    })();

    {% if entry is defined and entry.hideAds %}
        adthrive.cmd.push(function() {
            adthrive.disableAds();
        });
    {% endif %}
</script>