{% set pageRef = post is defined ? post : entry %}

{% set pinDescription = pageRef.postEntrySeo.seoTitle ? pageRef.postEntrySeo.seoTitle : pageRef.title %}

{% set pinId = null %}

{% if image.pinUrl %}
  {% set parseUrl = image.pinUrl|split('/') %}
  {% for chunk in parseUrl %}
    {% if chunk == 'pin' %}
      {% set pinId = parseUrl[loop.index] %}
    {% endif %}
  {% endfor %}
{% endif %}

<picture {% if picClasses is defined %}class={{ picClasses }}{% endif %}>
  {% spaceless %}
  {% if craft.imager.serverSupportsWebp() %}
  <source
    sizes="100vw"
    srcset="{{ craft.imager.srcset(transformedImagesWebP) }}"
    type="image/webp">
  {% endif %}
  <img
    class="{{classes}}"
    src="{{ transformedImages[0].url }}"
    sizes="100vw"
    srcset="{{ craft.imager.srcset(transformedImages) }}"
    alt="{{ title ? title : pageRef.title }}"
    {% if nopin is defined and true %}
      nopin="nopin"
    {% else %}
      data-pin-media="{{ image.url }}"
      data-pin-url="{{ pageRef.url }}"
      data-pin-description="{{ pinDescription }} by The Modern Proper"
      {% if pinId %}
        data-pin-id="{{ pinId }}"
      {% endif %}
    {% endif %}>
  {% endspaceless %}
</picture>
