<picture {% if picClasses is defined %}class={{ picClasses }}{% endif %}>
  {% spaceless %}
    {% if craft.imager.serverSupportsWebp() %}
    <source class="lazyload"
      data-sizes="100vw"
      data-srcset="{{ craft.imager.srcset(transformedImagesWebP) }}"
      type="image/webp">
    {% endif %}
    <img
      class="{{ classes }} lazyload"
      src="{{ craft.imager.base64Pixel(2,1) }}"
      data-sizes="100vw"
      data-srcset="{{ craft.imager.srcset(transformedImages) }}"
      data-src="{{ transformedImages[0].url }}"
      alt="{{ title ? title : entry.title }}">
  {% endspaceless %}
</picture>
