{% if image | length %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 1000},
            { width: 500},
        ],
        {
            format: 'jpg',
            jpegQuality: 95,
            position: image.focalPoint
        }
    ) %}
    {% if craft.imager.serverSupportsWebp() %}
    {% set transformedImagesWebP = craft.imager.transformImage(image,
        [
            { width: 1000},
            { width: 500},
        ],
        {
            format: 'webp',
            webpQuality: 95,
            position: image.focalPoint
        }
    ) %}
    {% endif %}
    {% include 'utils/images/_picture' %}
{% endif %}
