{% if image | length %}
    {% set imageRatio = 667 / 1000 %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: 667, ratio: imageRatio },
            { width: 400, ratio: imageRatio },
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
    {% if craft.imager.serverSupportsWebp() %}
    {% set transformedImagesWebP = craft.imager.transformImage(image,
        [
            { width: 667, ratio: imageRatio },
            { width: 400, ratio: imageRatio },
        ],
        {
            format: 'webp',
            position: image.focalPoint
        }
    ) %}
    {% endif %}
    {% include 'utils/images/_picture-lazy' %}
{% endif %}
