{% if image | length %}
    {% set imageRatio = image.width / image.height %}
    {% set imageWidth = image.width > image.height ? 1000 : 667 %}
    {% set transformedImages = craft.imager.transformImage(image,
        [
            { width: imageWidth, ratio: imageRatio },
            { width: 400, ratio: imageRatio },
        ],
        {
            format: 'jpg',
            position: image.focalPoint
        }
    ) %}
    {% if craft.imager.serverSupportsWebp() %}
    {% set transformedImagesWebP = craft.imager.transformImage(image,
        [
            { width: imageWidth, ratio: imageRatio },
            { width: 400, ratio: imageRatio },
        ],
        {
            format: 'webp',
            position: image.focalPoint
        }
    ) %}
    {% endif %}
    {% include 'utils/images/_picture-lazy' %}
{% endif %}
