{% if entry is defined %}
  {% set currentPage = entry.section %}
{% else %}
  {% set currentPage = 'unknown' %}
{% endif %}
<ul class="navigation__menu">
  {% for navLink in mainNavigation.navigationItems.type('navigationLink') %}
    {% set link = navLink.linkInfo %}
    <li class="navigation__item">
      {% set linkSection = link.entry.section %}
      <a href="{{link.url}}" class="navigation__primary {% if currentPage == linkSection %}-selected{% endif %}" {{ link.target ? ' target="_blank"' }} title="{{ link.linkText }}">{{ link.linkText }}</a>
    </li>
  {% endfor %}
  {% for navLink in mainNavigation.navigationItems.type('secondaryLink') %}
    {% set link = navLink.linkInfo %}
    {% set linkSection = link.entry.section %}
    <li class="navigation__item">
      <a href="{{link.url}}" class="navigation__secondary {% if currentPage == linkSection %}-selected{% endif %}" {{ link.target ? ' target="_blank"' }} title="{{ link.linkText }}">{{ link.linkText }}</a>
    </li>
  {% endfor %}
    <li class="navigation__item -mobile">
      <a href="/newsletter" class="navigation__secondary {% if currentPage == 'Newsletter' %}-selected{% endif %}" title="newsletter">Newsletter</a>
    </li>
</ul>
