{% if entry is defined %}
  {% set currentPage = entry.section %}
{% else %}
  {% set currentPage = 'unknown' %}
{% endif %}
<ul class="navigation__menu">
  {% for navLink in mainNavigation.navigationItems.type('navigationLink') %}
    {% set link = navLink.linkInfo %}
    {% set linkSection = link.entry.section %}
    <li class="navigation__item">
      {% if currentPage == linkSection %}
        {% set primaryClass = "navigation__primary -selected" %}
      {% else %}
        {% set primaryClass = "navigation__primary" %}
      {% endif %}
      {{ link.htmlLink({class: primaryClass}) }}
    </li>
  {% endfor %}
  {% for navLink in mainNavigation.navigationItems.type('secondaryLink') %}
    {% set link = navLink.linkInfo %}
    {% set linkSection = link.entry.section %}
    <li class="navigation__item">
      {% if currentPage == linkSection %}
        {% set secondaryClass = "navigation__secondary -selected" %}
      {% else %}
        {% set secondaryClass = "navigation__secondary" %}
      {% endif %}
      {{ link.htmlLink({class: secondaryClass}) }}
    </li>
  {% endfor %}
    <li class="navigation__item -mobile">
      <a href="/newsletter" class="navigation__secondary {% if currentPage == 'Newsletter' %}-selected{% endif %}" title="newsletter">Newsletter</a>
    </li>
</ul>
