<ul class="navigation__social">
  <li><a href="https://instagram.com/themodernproper/" class="navigation__social--item" target="_blank">
    {% include 'utils/icon' with {'icon':'instagram', 'classes':'navigation__social--icon -tall'} %}
  </a></li>
  <li><a href="https://www.pinterest.com/themodernproper/" class="navigation__social--item" target="_blank">
    {% include 'utils/icon' with {'icon':'pinterest', 'classes':'navigation__social--icon -tall'} %}
  </a></li>
  <li><a href="https://www.facebook.com/themodernproper" class="navigation__social--item" target="_blank">
    {% include 'utils/icon' with {'icon':'facebook', 'classes':'navigation__social--icon -tall'} %}
  </a></li>
  <li><a href="https://twitter.com/themodernproper" class="navigation__social--item" target="_blank">
    {% include 'utils/icon' with {'icon':'twitter', 'classes':'navigation__social--icon -wide'} %}
  </a></li>
  <li><a href="{{ siteUrl }}feed.rss" class="navigation__social--item">
    {% include 'utils/icon' with {'icon':'rss', 'classes':'navigation__social--icon -rss'} %}
  </a></li>
</ul>
