{% extends "_layout" %}
{% set title = "Thanks" %}

{% block content %}
  <div class="thanks">
    <h1 class="thanks__headline">Thank you!</h1>
    <p class="thanks__body">We've recieved your message and we'll get back to you as soon as possible.</p>
  </div>

  {# look for a category first #}
  {% set cat = craft.categories('recipes') %}
  {% set similar = craft.entries.section('postEntries').relatedTo(cat).order('RAND()').limit(4) %}

  <div class="more-posts">
    <div class="more-posts__title">
      <h2 class="more-posts__title--text">In the meantime...</h2>
    </div>
    <div class="more-posts__wrapper">
    {% for post in similar %}
      {% set vars = {
        image: post.featuredImage[0],
        summary: post.postSummary,
        title: post.title,
        url: post.url,
      } %}

      {% include 'posts/_more-posts-card' with vars %}
    {% endfor %}
    </div>
  </div>
{% endblock %}
