{% set pageUrl = url(craft.request.path) %}
{% if pageUrl == siteUrl %}
    {% set homePage = true %} 
{% else %}
    {% set homePage = false %}
{% endif %}

{% set noPinPage = false %}

{% if entry is defined %}
    {% set section = entry.getSection() %}
    {% if section.handle in ['about', 'archive', 'contact', 'searchResults', 'newsletter', 'privacyPolicy'] %}
      {% set noPinPage = true %}
    {% endif %}
    {% if section.handle == 'postEntries' %}
        {% set recipe = true %} 
    {% endif %}
{% endif %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        {% include 'partials/siteHead' %}
        {% block postMeta %}{% endblock %}
    </head>
    <body class="{% if section is defined and true %}page-{{ section.handle|lower }}{% endif %}{% if recipe is defined and true %} print-styles{% endif %}">
        <div class="content tk-fade">
            {% include 'partials/header' %}
            {% include 'partials/navigation' %}
            {% include 'partials/search' %}
            <main id="main" class="main js-main">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <script src="{{ rev('main.js') }}"></script>
        {% block newsletterJs %}{% endblock %}
        {% block footerJs %}{% endblock %}
    </body>
</html>