<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        {% include 'partials/siteHead' %}
        {% block richPin %}{% endblock %}
        {% block richPinIngredients %}{% endblock %}
    </head>
    {% if entry is defined %}
        {% set section = entry.getSection() %}
        {% if section.handle == 'postEntries' %} 
            {% set recipe = true %} 
        {% endif %}
    {% endif %} 
    {% set pageUrl = url(craft.request.path) %}
    {% if pageUrl == siteUrl %}
        {% set homePage = true %} 
    {% else %}
        {% set homePage = false %}
    {% endif %}
    <body class="{% if section %}page-{{ section.handle|lower }}{% endif %}{% if recipe is defined and true %} print-styles{% endif %}">
        <div class="content tk-fade">
            {% include 'partials/header' %}
            {% include 'partials/navigation' %}
            {% include 'partials/search' %}
            <main id="main" class="main js-main">
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <script src="/assets/js/main.js"></script>
        {% block newsletterJs %}{% endblock %}
        {% block footerJs %}{% endblock %} 
    </body>
</html>