.about-card {
  background-color: $white;
  display: flex;
  flex: 0 0 30%;
  flex-direction: column;
  margin-bottom: rem(60);
  padding: rem(24);
  order: 0;

  @include bp($xl) {
    margin-bottom: rem(40);
  }

  @include bp($lg) {
    flex: 0 0 calc(50% - 15px);
  }

  @include bp($md) {
    flex: 0 0 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: rem(50);
  }

  @include bp($sm) {
    align-items: flex-start;
    flex: 0 0 100%;
  }

  @include bp($xs) {
    padding: rem(30);
  }

  &__image {
    background: 50% 50% no-repeat;
    background-size: cover;
    flex: 0 0 auto;
    max-height: 70vh;
    position: relative;

    @include bp($md) {
      flex: 1 0 180px;
      margin-bottom: rem(24);
      margin-right: rem(24);
    }

    @include bp($sm) {
      flex: 1 0 100%;
      margin-bottom: rem(24);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;

      @include bp($md) {
        padding-bottom: 66%;
      }
    }
  }

  &__text {
    flex: 1 0 auto;
    margin-top: rem(24);

    @include bp($md) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1 0 50%;
      flex-wrap: wrap;
      margin: 0 0 rem(24);
    }

    @include bp($sm) {
      margin: 0 0 rem(24);
    }

    &--title {
      @extend %title-md;
      font-family: $serif;
      margin-bottom: rem(24);

      @include bp($md) {
        margin-bottom: rem(12);
      }
    }

    &--body {
      @include bp($md) {
        font-size: rem(14);
        line-height: 1.5;
      }
    }
  }

  &__cta {
    margin: rem(24) 0 0;
    width: 100%;

    @include bp($md) {
      flex: 0 0 100%;
      margin: 0;
    }
  }
}
