.contact {
  @include content-wrapper();

  &__inner-wrapper {
    @include content-inner(500, center);
    padding: rem(30) 0;
  }

  &__headline {
    @extend %title-lg;
    margin-bottom: rem(24);
  }

  &__blurb {
    @extend %text-lg;
    text-align: center;
  }

  &__form {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__input-wrapper {
    position: relative;
    flex: 0 0 100%;
    margin-bottom: rem(30);

    &.active {
      .contact__input-label {
        color: $tmp-dark;
        top: 0;
        transform: translateY(-24px);
      }

      .contact__input::after {
        width: 100%;
      }
    }
  }

  &__input-label {
    @extend %text-xs;
    color: $tmp-gray;
    font-family: $sans;
    position: absolute;
    left: rem(12);
    text-transform: uppercase;
    transition: top $ease-fast, transform $ease-fast, color $ease-fast;

    &.-text {
      top: 50%;
      transform: translateY(-50%);
    }

    &.-message {
      top: rem(12);
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    background-color: $white;
    margin: 0;
    padding: $small-spacing;
    transition: background-color $ease-med;
    color: darken($tmp-gray, 10%);
    border: none;
    border-bottom: 2px solid darken($tmp-light, 5%);
    width: 100%;
    position: relative;

    @include bp($sm) {
      font-size: rem(18);
      line-height: rem(24);
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 5px;
      background-color: $tmp-brand;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: width $ease-fast;
    }

    &:focus {
      color: $tmp-dark;
      outline: none;
    }
  }

  &__blurb {
    margin-bottom: $large-spacing;

    @include bp($sm) {
      margin-bottom: $base-spacing;
    }
  }

  .errors {
    font-style: italic;
    font-size: rem(14);
    color: $tmp-brand;
    margin-bottom: $small-spacing / 2;
  }

  #recipes {
    display: none;
  }
}