.featured {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: rem(60);
  order: 2;
  padding: rem(80) 0;
  position: relative;

  @include bp($md) {
    flex: 0 0 calc(50% - 15px);
    flex-direction: column;
    padding: 30px 30px 15px;
  }

  @include bp($sm) {
    flex: 0 0 100%;
    flex-direction: row;
    margin-bottom: rem(40);
    padding: rem(40) rem(50) rem(25);
  }

  @include bp($xs) {
    padding: rem(40) rem(30) rem(30);
  }

  &__bg {
    background-color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50%;
    right: -50%;

    @include bp($md) {
      left: 0;
      right: 0;
    }
  }

  &__text {
    flex: 0 0 100%;
    position: relative;
    text-align: center;
    margin-bottom: rem(36);

    @include bp($md) {
      flex: 0 0 auto;
      margin-bottom: rem(24);
    }

    @include bp($sm) {
      flex: 0 0 100%;
    }

    &--title {
      @extend %title-serif-lg;
      color: $tmp-gray;
      margin-bottom: 0;

      @include bp($md) {
        font-size: rem(24);
        line-height: rem(30);
      }
    }

    &--subtitle {
      @extend %text-lg;
      margin: rem(6) 0 0;
    }
  }

  &__post {
    flex: 0 0 calc(25% - 20px);
    position: relative;

    @include bp($md) {
      flex: 1 0 auto;
      margin-bottom: 15px;
    }

    @include bp($sm) {
      flex: 0 0 calc(50% - 10px);
      margin: 10px 0;
    }
  }

  &__image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 0px solid $tmp-brand;
    transition: outline $ease-fast;

    @include bp($md) {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    @include bp($sm) {
      position: relative;
      height: auto;
      width: auto;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;

      @include bp($md) {
        padding-bottom: 0;
      }

      @include bp($sm) {
        padding-bottom: 100%;
      }
    }

    &:hover,
    &:focus {
      outline: 4px solid $tmp-brand;
    }
  }
}
