.posts-filter {
  @include full;
  padding: $large-spacing span(1 of 24) 0;

  @include bp($sm) {
    margin-bottom: -$base-spacing;
  }

  .label {
    color: darken($tmp-gray, 10%);
    font-style: italic;
    text-align: center;
  }

  .filter {
    padding: ($small-spacing / 2) $small-spacing;
    background: $tmp-gray;
    color: $white;
    width: 100%;
    text-align: center;
    font-size: rem(20);
    line-height: 1;
    border: 0;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
    margin-bottom: 0;
    transition: background $ease-fast;

    &__wrapper {
      @include span(2);
      position: relative;

      @include bp($md) {
        @include span(4);
      }

      @include bp($sm) {
        @include full;
      }
    }

    &__arrow {
      content: "@";
      color: $white;
      display: block;
      position: absolute;
      right: 0;
      top: 3px;
      bottom: 3px;
      left: span(21 of 24);
      border-left: 1px solid $tmp-light;
      pointer-events: none;
      background-image: url("/assets/img/icons/filter-icon.svg");
      background-repeat: no-repeat;
      background-size: 40% auto;
      background-position: 50% 50%;
      transition: background-color $ease-fast;

      @include bp($sm) {
        left: span(11);
      }
    }

    &:hover {
      background: darken($tmp-gray, 10%);
      cursor: pointer;
    }
  }
}
