.fix-share {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: rem(40);
  left: rem(40);
  width: rem(50);
  opacity: 0;
  padding: rem(6);
  transform: translateY(-20%);
  transition: opacity $ease-med, transform $ease-med;
  z-index: $z-scrollup;

  @include bp($lg) {
    left: rem(12);
  }

  @include bp($sm) {
    left: 0;
    bottom: rem(60);
    padding: rem(10);
  }

  &__icon {
    background-color: rgba($tmp-gray, 0.7);
    cursor: pointer;
    flex: 0 0 100%;
    position: relative;
    border-radius: 50%;
    margin-bottom: rem(24);
    pointer-events: 0;
    transition: background $ease-fast;

    @include bp($sm) {
      margin-bottom: rem(16);
    }

    &:last-child {
      margin: 0;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &:hover {
      background-color: $tmp-brand;
    }

    &--logo {
      fill: $white;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 50%;
      width: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &.-active {
    opacity: 1;
    transform: none;

    .fix-share__icon {
      pointer-events: auto;
    }
  }
}
