.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: $base-spacing span(1 of 24);
  font-size: rem(12);
  font-family: $sans;
  font-weight: 600;

  @include bp($md) {
    padding: $small-spacing 0;
    text-align: center;
  }
}
