.home-feature {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: rem(80);
  order: -1;
  transition: flex $ease-fast;
  @include bp($md) {
    margin-bottom: rem(60);
  }
  &__image {
    flex: 0 0 50%;
    max-height: 97vh;
    min-height: rem(750);
    overflow: hidden;
    position: relative;
    transition: flex $ease-fast;
    @include bp($lg) {
      flex: 0 0 calc(50% - 15px);
      min-height: 0;
    }
    @include bp($md) {
      flex: 0 1 100%;
    }
    &::after {
      content: "";
      display: block;
      padding-bottom: (1000 / 667) * 100%;
    }
  }
  &__asset {
    @include lazy-photo;
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__title {
    background-color: $tmp-light;
    padding: rem(24) 0;
    &.-fixed {
      @include bp($md) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: rem(24) rem(80);
        z-index: $z-post-title;
      }
      @include bp($sm) {
        padding: rem(24) rem(50);
      }
      @include bp($xs) {
        padding: rem(24) rem(36);
      }
    }
    &--date {
      flex: 0 0 100%;
      font-style: italic;
      font-weight: bold;
      color: $tmp-gray;
      margin-bottom: rem(12);
    }
    &--headline {
      @extend %title-lg;
      color: $tmp-dark;
      transition: color $ease-fast;
      &:hover,
      &:focus {
        color: $tmp-brand;
      }
    }
  }
  &__text {
    flex: 0 0 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding-left: rem(60);
    transition: padding $ease-fast, flex $ease-fast;
    @include bp($lg) {
      flex: 1 0 50%;
      padding-left: rem(30);
    }
    @include bp($md) {
      flex: 0 1 100%;
      padding: rem(30) 0 0;
    }
    @include bp($sm) {
      padding: 0 rem(50);
    }
    @include bp($xs) {
      padding: 0 rem(36);
    }
    &--summary {
      @extend %text-lg;
    }
    &--cta {
      margin-top: rem(40);
      @include bp($md) {
        margin-top: rem(20);
        flex: 0 0 47%;
      }
      @include bp($sm) {
        flex: 0 0 100%;
      }
    }
  }
}
