.instructions {
  background-color: rgba($tmp-gray, 0.85);
  padding: ($large-spacing * 1.5) 0;
  text-align: center;
  color: $tmp-light;

  &__step {
    @include gallery(3);
    padding: 0 $base-spacing;

    @include bp($md) {
      @include gallery(6);
      margin-bottom: $base-spacing;
    }

    &--wrapper {
      @include clearfix;
    }

    &--icon {
      width: 45%;
      max-width: em(90);
      margin: 0 auto $base-spacing;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0.9;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    &--title {
      font-size: rem(30);
      margin-bottom: rem(12);
    }

    &--blurb {
      font-size: rem(18);
      line-height: rem(24);
      font-weight: 600;
      font-family: $sans;

      @include bp($sm) {
        font-size: rem(14);
        line-height: rem(18);
      }
    }
  }

  &__contact {
    @include span(6);
    @include push(3);
    padding-top: $large-spacing * 1.5;

    @include bp($lg) {
      @include span(8);
      @include push(2);
    }

    @include bp($md) {
      @include span(10);
      @include push(1);
      padding-top: $large-spacing;
    }

    @include bp($sm) {
      @include span(22 of 24);
      @include push(1 of 24);
    }

    &--text {
      font-size: rem(30);
      line-height: rem(36);
      text-transform: none;
      margin-bottom: $base-spacing;

      @include bp($sm) {
        font-size: rem(24);
        line-height: rem(30);
      }
    }
  }
}
