.logo-grid {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
  flex-wrap: wrap;
  margin-top: rem(36);

  @include bp($sm) {
    margin-top: rem(12);
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 calc(25% - 36px);
    justify-content: center;
    align-items: center;
    margin: 0 0 rem(60);
    padding: 0 rem(12);
    position: relative;

    @include bp($md) {
      flex: 0 0 calc(50% - 36px);
    }

    @include bp($sm) {
      flex: 0 0 calc(50% - 12px);
      margin: 0 0 rem(24);
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 75%;
    }

    &--logo {
      @include lazy-photo;
      max-width: 100%;
      height: auto;
    }
  }
}
