.navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: background $ease-med;
  z-index: $z-nav;

  &__click-area {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    pointer-events: none;
  }

  &__wrapper {
    display: flex;
    height: 100%;
    pointer-events: none;
    position: relative;
  }

  &__left {
    background-color: $tmp-dark;
    display: flex;
    flex-direction: column;
    flex: 1 0 55%;
    max-width: rem(600);
    position: relative;
    transform: translateX(-100%);
    transition: transform $ease-med;

    @include bp($md) {
      flex: 0 0 100%;
      max-width: none;
    }
  }

  &__right {
    flex: 1 0 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    position: relative;
    transform: translateX(100%);
    transition: transform $ease-med;

    @include bp($md) {
      display: none;
    }
  }

  &.-active {
    background-color: rgba($tmp-light, 0.95);
    pointer-events: auto;

    .navigation__left,
    .navigation__right {
      transform: none;
    }

    .navigation__click-area,
    .navigation__left,
    .newsletter {
      transform: none;
      pointer-events: auto;
    }
  }

  &__social {
    display: flex;
    flex: 0 0 82px;
    align-items: flex-end;
    justify-content: center;

    @include bp($md) {
      flex: 0 0 68px;
    }

    @include bp($sm) {
      flex: 0 0 50px;
    }

    li {
      margin: 0 rem(12);
      transition: margin $ease-fast;

      @include bp($lg) {
        margin: 0 rem(6);
      }

      @include bp($md) {
        margin: 0 rem(12);
      }
    }

    &--item {
      background-color: rgba($tmp-gray, 0.7);
      border-radius: 50%;
      display: block;
      width: rem(40);
      height: rem(40);
      position: relative;
      transition: background-color $ease-fast, height $ease-fast, width $ease-fast;

      @include bp($lg) {
        height: rem(36);
        width: rem(36);
      }

      @include bp($sm) {
        height: rem(28);
        width: rem(28);
      }

      &:hover {
        background-color: rgba($tmp-brand, 0.8);

        .navigation__social--icon {
          fill: $white;
        }
      }
    }

    &--icon {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $tmp-light;
      transition: fill $ease-fast;

      &.-tall {
        height: 60%;
        width: auto;
      }

      &.-wide {
        height: auto;
        width: 60%;
      }

      &.-rss {
        height: auto;
        width: 50%;
        top: 48%;
        left: 52%;
      }
    }
  }

  &__menu {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
  }

  &__item {
    flex: 0 0 auto;
  }

  &__primary {
    @extend %nav-primary;
    display: block;
    padding: rem(24) 0;

    @include bp($sm) {
      padding: rem(16) 0;
    }
  }

  &__secondary {
    @extend %nav-secondary;
    display: block;
    padding: rem(24) 0;

    @include bp($sm) {
      padding: rem(16) 0;
    }
  }

  &__brand {
    flex: 0 0 auto;
    text-align: center;

    &--logo {
      height: rem(20);
      width: auto;
      fill: $tmp-gray;
      margin-bottom: rem(8);

      @include bp($sm) {
        height: rem(14);
        margin-bottom: rem(3);
      }

      @include bp($sm) {
        height: rem(12);
        margin-bottom: 0;
      }
    }

    &--copyright {
      color: $tmp-gray;
      font-family: $sans;
      font-size: rem(12);
      margin-bottom: rem(40);

      @include bp($sm) {
        margin-bottom: rem(15);
      }
    }
  }

  &__close {
    &--wrapper {
      cursor: pointer;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(50);
      height: rem(50);
      top: rem(40);
      left: rem(40);

      @include bp($md) {
        top: rem(24);
        left: rem(12);
      }

      @include bp($sm) {
        top: auto;
        left: rem(4);
        bottom: rem(16);
      }

      &:hover,
      &:focus {
        .navigation__close--icon {
          fill: $tmp-light;
        }
      }
    }

    &--icon {
      width: rem(24);
      height: rem(24);
      fill: $tmp-gray;
      transition: fill $ease-fast;
    }
  }
}
