.partner-contact {
  @include content-wrapper();

  &__inner-wrapper {
    @include content-inner(860);
    padding: rem(80) 0;

    @include bp($sm) {
      padding: rem(48) rem(50);
    }
  }

  &__headline {
    @extend %title-lg;
    flex: 0 0 100%;
    margin-bottom: rem(24);
    text-align: center;
  }

  &__body {
    flex: 0 0 100%;
    margin-bottom: rem(40);

    p {
      @extend %text-lg;
      margin: 0 auto;
      max-width: rem(500);
      text-align: center;
    }
  }

  &__cta {
    text-align: center;
    flex: 0 0 100%;
  }
}
