.post-intro {
  @include content-inner(1100);

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 50%;
    padding: 0 rem(60) rem(60) 0;
    transition: flex $ease-fast;

    @include bp($md) {
      flex: 0 1 100%;
      margin: rem(30) 0;
      max-width: none;
      padding: 0 rem(24);
      text-align: center;
    }

    &--date {
      @extend %title-serif-sm;
      color: $tmp-gray;
      display: block;
      margin-bottom: rem(12);
    }

    &--text {
      @extend %title-xl;
      margin-bottom: rem(12);
    }

    &--author {
      @extend %title-sm;
      color: $tmp-brand;
      display: block;
    }

    &--button {
      width: 100%;
      max-width: rem(300);
      outline: none;
      border: none;

      @include bp($md) {
        display: none;
      }
    }
  }

  &__image {
    flex: 0 1 50%;
    position: relative;
    text-align: center;
    transition: flex $ease-fast;

    @include bp($md) {
      flex: 0 1 100%;
      text-align: center;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: (1000 / 667) * 100%;
    }

    &--asset {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
