.post-intro {
  @include content-inner();

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 50%;
    padding: 0 rem(60) rem(60) 0;
    transition: flex $ease-fast;

    @include bp($md) {
      flex: 0 1 100%;
      margin:rem(30) 0;
      max-width: none;
      padding: 0 rem(24);
      text-align: center;
    }

    &--date {
      @extend %title-serif-sm;
      color: $tmp-gray;
      display: block;
      margin-bottom: rem(12);
    }

    &--text {
      @extend %title-xl;
      margin-bottom: rem(12);
    }

    &--author {
      @extend %title-sm;
      color: $tmp-brand;
      display: block;
    }

    &--button {
      width: 100%;
      max-width: rem(300);
      outline: none;
      border: none;

      @include bp($md) {
        display: none;
      }
    }
  }

  &__image {
    flex: 0 1 50%;
    position: relative;
    text-align: center;
    transition: flex $ease-fast;

    @include bp($md) {
      flex: 0 1 100%;
      text-align: center;
    }


    &--asset {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
}

.post {
  @include span(10 wide);
  z-index: $z-post-content;
  padding: 0 $base-spacing $large-spacing;
  margin-top: $large-spacing;
  position: relative;

  @include bp($lg) {
    @include full;
    padding: 0 0 $large-spacing;
  }

  @include bp($md) {
    margin-top: $base-spacing;
    padding: 0 0 $base-spacing;
  }

  &__title {
    @include full;
    @include clearfix;
    margin-bottom: $large-spacing;
    position: relative;

    &--date {
      @include push(1 of 24);
      color: $tmp-gray;

      @include bp($lg) {
        @include span(8);
        @include push(2);
        text-align: center;
      }

      @include bp($sm) {
        @include span(12);
        @include push(0);
      }

      &::before {
        content: "";
        display: inline-block;
        height: 1px;
        background-color: rgba($tmp-gray, 0.5);
        width: $large-spacing;
        margin-right: $small-spacing;
        transform: translateY(-5px);
      }
    }

    &--text {
      @include span(7);
      @include push(1 of 24);
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 600;
      color: darken($tmp-gray, 20%);

      @include bp($lg) {
        @include span(6);
        @include push(3);
        text-align: center;
      }

      @include bp($md) {
        @include span(8);
        @include push(2);      }

      @include bp($sm) {
        @include span(10);
        @include push(1);
      }
    }
  }

  &__share {
    @include span(5 of 24);
    @include push(1 of 24);

    @include bp($lg) {
      @include span(3);
      @include push(9 of 24);
    }

    @include bp($md) {
      @include span(4);
      @include push(4);
    }

    @include bp($sm) {
      @include span(6);
      @include push(3);

      .share {
        display: none;
      }
    }

    &--download {
      width: 100%;
      padding: $small-spacing 0;
      text-align: center;
      margin-bottom: $large-spacing;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;

    &--wrapper {
      @include span(6 wide);
      @include push(1);
      position: relative;
      background-color: $white;

      @include bp($lg) {
        @include push(3);
        margin-top: $base-spacing;
      }

      @include bp($md) {
        @include span(8);
        @include push(2);
        margin-top: $base-spacing;
      }

      @include bp($sm) {
        @include span(12);
        @include push(0);
        margin-top: $base-spacing;
      }

      &::after {
        content: "";
        display: block;
        padding-bottom: 150%;
      }
    }
  }

  &__author {

    &--wrapper {
      @include span(6 wide);
      @include push(4);
      margin-top: $large-spacing;
      margin-bottom: -$base-spacing;
      text-align: center;

      @include bp($lg) {
        @include span(8);
        @include push(2);
      }
    }

    &--text {
      color: darken($tmp-brand, 20%);
    }
  }
}
