.post-card {
  display: flex;
  flex: 0 0 calc(33.333% - 15px);
  flex-direction: column;
  margin-bottom: rem(60);
  order: 1;

  @include bp($xl) {
    margin-bottom: rem(40);
  }

  @include bp($lg) {
    flex: 0 0 calc(50% - 15px);
  }

  @include bp($sm) {
    flex: 0 0 100%;

    &:nth-child(even),
    &:nth-child(odd) {
      padding: 0 rem(50);

      @include bp($xs) {
        padding: 0 rem(30);
      }
    }
  }

  &.after-featured {
    order: 3;
  }

  &__image {
    background: 50% 50% no-repeat;
    background-size: cover;
    flex: 0 0 auto;
    max-height: 70vh;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding-bottom: (1000 / 667) * 100%;
    }

    &--border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 0 solid $white;
      transition: border $ease-fast;
    }

    &--cta {
      color: $tmp-brand;
      font-family: $sans;
      font-size: rem(18);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $white;
      padding: rem(12) 0;
      text-align: center;
      transform: translateY(100%);
      transition: transform $ease-fast;

      @include bp($lg) {
        font-size: rem(16);
        padding: rem(8) 0;
      }
    }

    &:hover,
    &:focus {
      .post-card__image--border {
        border: 5px solid $white;

        @include bp($lg) {
          border: 3px solid white;
        };
      }

      .post-card__image--cta {
        transform: none;
      }
    }
  }

  &__text {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding-top: rem(24);
  }

  &__title {
    @extend %title-md;
    color: $tmp-dark;
    margin-bottom: rem(12);
    transition: color $ease-fast;

    &:hover {
      color: $tmp-brand;
    }
  }

  &__summary {
    @extend %text-sm;
  }
}
