.share {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: rem(60) 0 rem(30);
  max-width: rem(300);
  position: relative;

  @include bp($lg) {
    margin: rem(30) 0;
  }

  @include bp($md) {
    display: none;
  }

  &__title {
    color: $tmp-gray;
    padding: 0 $small-spacing / 2;
    background-color: $tmp-light;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    &--line {
      flex: 0 0 100%;
      padding: rem(11) 0 0;
      margin: 0 0 rem(30);
      border-bottom: 1px solid rgba($tmp-gray, 0.5);
    }
  }

  &__icon {
    cursor: pointer;
    flex: 0 0 20%;
    background-color: rgba($tmp-gray, 0.6);
    border-radius: 50%;
    margin: 0 15px;
    position: relative;
    transition: background-color $ease-fast;
    border: none;

    @include bp($lg) {
      flex: 0 0 18%;
    }

    &:focus {
      border: none;
      outline: none;
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &--logo {
      fill: $white;
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $tmp-brand;
    }
  }
}
