.staff {
  @extend %content-inner-wrapper;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  padding: rem(40) 0 rem(80);

  @include bp($md) {
    padding: rem(40) 0 rem(50);
  }

  @include bp($sm) {
    padding: rem(40) rem(30) rem(50);
  }

  &__headline {
    @extend %title-lg;
    text-align: center;
    flex: 0 0 100%;
    margin-bottom: rem(40);
  }

  &__bios {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;

    @include bp($md) {
      justify-content: space-between;
      align-content: flex-start
    }

    &--bio-wrapper {
      flex: 0 0 calc(25% - 30px);
      margin-right: rem(30);
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      @include bp($md) {
        flex: 0 0 calc(50% - 15px);
        margin: 0 0 30px;
      }

      @include bp($xs) {
        flex: 0 0 100%;
      }
    }

    &--bio-photo {
      background: 50% 50% no-repeat;
      background-size: cover;
      width: 100%;

      &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }

    &--bio-name {
      @extend %title-sm;
      margin: rem(12) 0;
    }

    &--bio-text {
      @extend %text-sm;
    }
  }
}
