{% if image | length %}
    {% if forceVert is defined and true %}
        {% set imageRatio = 2 / 3 %}
        {% set tall = true %}
    {% else %}
        {% set imageRatio = image.width / image.height %}
        {% set tall = image.height > image.width %}
    {% endif %}

    
    {% if tall %}
        {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 667, ratio: imageRatio },
                { width: 400, ratio: imageRatio },
            ],
            {
                format: 'jpg',
                mode: 'crop',
                position: image.focalPoint
            }
        ) %}
        {% set transformedImagesWebP = craft.imager.transformImage(image,
            [
                { width: 667, ratio: imageRatio },
                { width: 400, ratio: imageRatio },
            ],
            {
                format: 'webp',
                mode: 'crop',
                position: image.focalPoint
            }
        ) %}
    {% else %}
        {% set transformedImages = craft.imager.transformImage(image,
            [
                { width: 1000, ratio: image.width / image.height },
                { width: 600, ratio: image.width / image.height },
            ],
            {
                format: 'jpg',
                mode: 'crop',
                position: image.focalPoint,
            }
        ) %}
        {% set transformedImagesWebP = craft.imager.transformImage(image,
            [
                { width: 1000, ratio: image.width / image.height },
                { width: 600, ratio: image.width / image.height },
            ],
            {
                format: 'webp',
                mode: 'crop',
                position: image.focalPoint,
            }
        ) %}
    {% endif %}

    <picture>
        {% if lazyImage is defined and true %}
            {% spaceless %}
            {% if craft.imager.serverSupportsWebp() %}
                <source class="lazyload"
                    data-sizes="100vw"
                    data-srcset="{{ craft.imager.srcset(transformedImagesWebP) }}"
                    type="image/webp">
            {% endif %}
            <img class="{{ classes }} lazyload"
                src="{{ craft.imager.base64Pixel(2,1) }}"
                data-sizes="100vw"
                data-srcset="{{ craft.imager.srcset(transformedImages) }}"
                data-src="{{ transformedImages[0].url }}"
                alt="{{ title ? title : entry.title }}">
            {% endspaceless %}
        {% else %}
            {% spaceless %}
            {% if craft.imager.serverSupportsWebp() %}
                <source
                    sizes="100vw"
                    srcset="{{ craft.imager.srcset(transformedImagesWebP) }}"
                    type="image/webp">
            {% endif %}
            <img
                class="{{classes}}"
                src="{{ transformedImages[0].url }}"
                sizes="100vw"
                srcset="{{ craft.imager.srcset(transformedImages) }}"
                alt="{{ title ? title : entry.title }}">
            {% endspaceless %}
        {% endif %}
    </picture>
{% endif %}
